* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-stretch: narrower;
  margin:0;
  padding:0;
}

.center {
  width: 100%;
  text-align: center;
  display: block;
}

.border {
  border: 1px solid #000;
}

/* .resize{
  width: 1024px; 
  height:768px;
} */

.wrapper{
  display: inline-block; /* shrink to fit */
  /* width:1024px; */
  width:100%;
  position: relative;
  /* overflow: scroll; */

}
.wrapper::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.body {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;  /* follow the parent's edges */
  padding: 0;
  width: 1024px;
  height: 768px;
  background: #D9E6F7;
}

.navbar {
  height: 27px;
  margin: 0;
  position: relative;
  top: 0;
  background: rgb(108, 153, 201);
  background: linear-gradient(
    90deg,
    rgba(108, 153, 201, 1) 0%,
    rgba(115, 159, 207, 1) 100%
  );
  border: 3px solid #557cb0;
}
hr{
  background: #ddd;
  height: 1px;
  border: none;
}
.logo {
  margin-top: -2px;
  width: 79px;
  height: 115%;
  float: left;
  display: flex;
  align-content: center;
  padding: auto;
  background: #FCFEFC;
}
.logo-img{
  /* width: 40px !important; */
  height: 80%;
  margin:auto;
}
.menu-btn {
  position: relative;
  float: left;
  font-size: 11px;
  color: white;
  padding-left: 6px;
  padding-top: 4px;
  padding-right: 6px;
  height: 100%;
}
.email{
  font-weight: bold;
}

.menu-right {
  position: relative;
  float: right;
  font-size: 11px;
  padding-left: 6px;
  padding-top: 4px;
  padding-right: 6px;
  height: 100%;
  color:white;
}

.search {
  padding:0 !important;
  width: auto;
  
}

.cont-left {
  position: absolute;
  top: 40px;
  left: 3px;
  height: auto;
  width: 125px;
  padding: 10px;
}

.cont-right {
  background-color: white;
  position: absolute;
  top: 40px;
  right: 0px;
  /* height:285px; */
  width: 290px;
}

div[class|="cont"] {
  border-radius: 7px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.527);
}



/*MID*/
.cont-mid {
  background-color: white;
  position: absolute;
  top: 40px;
  left: 155px;
  height: auto;
  width: 553px;
  padding: 7px;
  border-top-right-radius: 53px !important;
}

.title-mid {
  font-size: x-large;
  font-weight: bold;
}

.breadcrumbs {
  margin-top: 0px;
}

.breadcrumbs li {
  float: left;
  font-size: small;
  margin-left: 15px;
  list-style: ">";
}

.breadcrumbs li:first-child {
  list-style: none;
  margin-left: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.mid-table{
  margin-top: 30px;
  width:100%;
  padding: 0;
  font-size: small;
  border: none;
}
.mid-table tr{
  min-width: 100%;
  background:#DEEFFF;
  margin:0px;
  padding: 0;
}
.mid-table tr:nth-child(even){
  background-color: #EFF7FD;
}

.mid-table td{
  border:none;
  margin:0;
  padding:5px;
}
.mid-table tr td:first-child{
    text-align: right;
    width:25%;
    color:#424242;
    vertical-align: top;
}

/* LEFT */
.cont-left{
  background: white;
}

.left-pic {
  height: auto;

}

.left-subtitle {
  font-size: small;
}

.left-title {
  color:#295872;
  margin-top: 7px;
  font-size: small;
  font-weight: bold;
}
.left-menu {
  color:#295872;
  font-size: small;
  list-style: none;
  padding: 0;
  line-height: 19px;
}
.icon {
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-right: 5px;
}
.left-main-img{
  width:100%;
  max-height:160px;
}

/* RIGHT */

.title-right{
  font-weight: bold;
  font-size: small;
}
.title-right {
  position: relative;
  top: 5px;
  left: 12px;
}
.cards {
  padding: 7px;
  color:#295872;
}
.cards .card {
  float: left;
  height: 140px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 30%;
  font-size: 12px;
  text-align: center;
  background: #f1f1f1;
}
.card-pic {
  position: relative;
  top: 10px;
  left: 10px;
  width: 65px;
  height: 70px;
}
.card-desc {
  position: relative;
  top: 15px;
  line-height: 15px;
}